* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 6px
}

.row {
    display: flex;
}
/* <!-- ********** REGOLE GENERALI ********** --> */

/* <!-- ********** DEBUG ********** --> */


/* header */
.debug header {
    background-color: #add8e6;
    min-height: 70px;
}

.debug .container  {
    background-color: #daa520;
    border: 2px dashed black;
}

.debug .container ul {
    border-right: 2px dashed black;
    border-left: 2px dashed black;
}

.container .row {
    justify-content: space-between;
    align-items: center;
}

ul.row {
    gap: 70px;
    padding-left: 100px;
    padding-right: 100px;
}
header {
    padding: 15px 0;
}

/* main prima section*/

.container.first-main {
    max-width: 700px;
}

.debug .container-main {
    min-height: 300px;
    max-width: 700px;
    background-color: #ee82ee;
}

.first-main {
    background-color: #00008b;
    padding: 50px;
}

/* main seconda section */

.container-section .column-lightblue {
    background-color: #1e90ff;
    min-width: 60px;
    border: 2px dashed black;
    flex-basis: 60%;
}

.debug .column-yellow {
    background-color: #FFC0CB;
    min-width: 40px;
    border: 2px dashed black;
    flex-basis: 40%;
}

.debug main div>.row {
    min-height: 400px;
}

.container-main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.row-reverse {
    flex-direction: row-reverse;
}

.container-section {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

.debug main>:nth-child(2n + 3) {
    background-color: #d3d3d3;
}

.container-section .column-green {
    background-color: #228b22;
    min-height: 800px;
    border: 2px dashed black;
}

/* FOOTER */

.debug footer {
    min-height: 100px;
    background-color: #23272a;
    padding-top: 5px;
}

.debug footer .footer-container .row {
    min-height: 500px;
}

.debug .footer-column {
    min-width: 50px;
    background-color: #f08080;
    border: 2px dashed black;
}

.debug .footer-column-2 {
    min-width: 10px;
    background-color: #20b2aa;
    border: 2px dashed white;
}

.debug .footer-container-2 .row {
    min-height: 80px;
    border: none;
    background-color: #7fffd4;
}

.debug .footer-container-2 .container-section .row>* {
    background-color: #FFB6C1;
    border: 2px dashed black;
}

button {
    border: none;
    background-color: transparent;
}

.footer-column {
    flex-basis: calc((100% / 12) * 4);
}

.footer-column-2 {
    flex-basis: calc((100% / 12) * 2);
}

.footer-container-2 .container-section .row {
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.footer-container-2 {
    padding-top: 20px;
}

.footer-container-2 .container-section .row * {
    padding: 5px 10px;
}
